node_modules/
client/node_modules/
server/node_modules/
work-npm-cache/

.env
*.env
*.env.*
server/.env
server/.env.*
client/.env
client/.env.*
!server/.env.example

client/dist/
*.log
*.pid

.DS_Store
Thumbs.db
